header {
    font-weight: 600;
    font-size: 14px;
    background: rgb(1, 43, 60);
    color: white;
    padding: 3rem 0px 13rem;
    text-align: center;
    box-shadow: 0px 1px 6px 0px #00000030;
}

header h1 {
    font-weight: 600;
    cursor: pointer;
}
